header {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  z-index: 100; }
  header .bg-dark a.nav-link {
    color: #ffff !important; }
    header .bg-dark a.nav-link:hover {
      text-shadow: 2px 2px 5px rgba(143, 238, 151, 0.5);
      transform: scale(1.1);
      transition: all 1, ease-in; }
  header nav img.navbar-brand {
    margin-left: 20px;
    width: 170px;
    height: auto;
    padding: 0 10px 0 0; }
  header nav ul li.nav-item {
    margin-right: 10px;
    margin-left: 10px; }
  header nav ul li.nav-item2 {
    margin-right: 40px;
    margin-left: 40px; }

main {
  color: #032550;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #ffff; }
  main section.secciones {
    /*estilos para seccion de servicio(area de servicios)*/
    /* tabla pantalla servicio */
    /* estilos para contenido de video en pantalla quienes somos*/ }
    main section.secciones h1 {
      margin-top: 5px;
      margin-bottom: 30px;
      font-size: 60px; }
    main section.secciones p {
      margin-top: 5px;
      margin-bottom: 30px;
      font-size: 20px; }
    main section.secciones img.style-img {
      width: 100%;
      height: auto; }
    main section.secciones .marginDiv {
      margin: 40px 0 40px 0px; }
    main section.secciones .marginDiv2 {
      margin: 20px 0 20px 0px; }
    main section.secciones .secJustM {
      text-align: justify;
      margin: 5px; }
    main section.secciones .tam-text {
      font-size: 50px;
      padding: auto; }
    main section.secciones .paddTitle {
      padding-left: 40px;
      padding-right: 40px; }
    main section.secciones .paddingBotContacto {
      padding-top: 70px; }
    main section.secciones .sec-img-title {
      text-align: center; }
    main section.secciones .fondoTitle {
      background-color: #e2eff5; }
    main section.secciones .headerReg {
      color: #1418e9; }
    main section.secciones .paddingBot {
      padding-top: 30px; }
    main section.secciones .paddingBot2 {
      padding-bottom: 30px; }
    main section.secciones .detaCurso {
      color: #817b7b !important; }
    main section.secciones .sec-img {
      text-align: center; }
    main section.secciones hr.divSec {
      padding-right: 50px;
      padding-left: 50px; }
    main section.secciones .secPrincipal {
      margin-top: 50px; }
      main section.secciones .secPrincipal .sec-prop {
        display: flex;
        display: inline-block;
        text-align: center; }
      main section.secciones .secPrincipal .prop1 {
        background-color: #9194e1; }
      main section.secciones .secPrincipal .prop2 {
        background-color: #8aaede; }
    main section.secciones div.sec-table .head-table {
      background-color: #5a0505;
      animation-name: example;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      color: #ffff; }

@keyframes example {
  0% {
    background-color: #5a0505; }
  25% {
    background-color: #575707; }
  50% {
    background-color: #0f0f5c; }
  100% {
    background-color: #064606; } }
    main section.secciones div.secVideo {
      text-align: center;
      width: 800%;
      height: 600px;
      position: relative;
      padding: 5px; }
    main section.secciones .responsive-iframe {
      width: 100%;
      height: 100%;
      align-items: center; }
  main .servicios-desc {
    background-color: #ffff;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 40px; }
    main .servicios-desc .clr {
      color: #091f02; }
    main .servicios-desc .grid-service hr {
      align-items: center;
      height: 10px;
      width: 100%;
      background-color: black; }
    main .servicios-desc .grid-service .text-def {
      font-size: 20px; }
    main .servicios-desc .grid-service .sub-desc {
      font-size: 15px; }
    main .servicios-desc .grid-service .service {
      margin-bottom: 40px; }
      main .servicios-desc .grid-service .service .etapa-ser .btn-center {
        text-align: center;
        align-items: center; }
      main .servicios-desc .grid-service .service .etapa-ser .sec-proceso {
        text-align: center; }
        main .servicios-desc .grid-service .service .etapa-ser .sec-proceso .img-pro {
          width: 120px;
          height: 140px;
          margin-bottom: 1rem;
          margin-top: 1rem; }
  main .secService {
    background-color: #dddde6; }
    main .secService .sec-img {
      text-align: center; }
    main .secService .grid-seccion {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;
      grid-template-areas: "sec-producto1 sec-producto2 sec-producto3"; }
    @media (max-width: 640px) {
      main .secService .grid-seccion {
        grid-template-columns: 1fr;
        display: block;
        grid-gap: 40px;
        grid-template-areas: "sec-producto1" "sec-producto2" "sec-producto3"; } }
    main .secService .img-style {
      max-width: 60%; }
      main .secService .img-style:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        animation-delay: 3s; }
    main .secService .paddingBot {
      padding-top: 30px; }
    main .secService .marBtn {
      margin-bottom: 40px;
      border-color: 3px solid #03041b;
      width: 33.33%; }
      main .secService .marBtn:hover {
        background-color: #518ce4 !important; }

footer .backFoo {
  background: radial-gradient(ellipse at top, #0c185c, transparent), radial-gradient(ellipse at bottom, #082950, transparent);
  padding: 20px; }

footer .inlineSec2 {
  display: inline-block;
  text-align: center; }

footer .colorText {
  color: #ffff; }

footer .icon-soc {
  margin: 10px 10px;
  transition: all 300ms ease-in-out;
  text-align: center; }
  footer .icon-soc:hover {
    transform: scale(2) translateY(-2px);
    color: #abccdb; }

/*implementacion de map*/
.color_color1 {
  color: #136b13; }

.color_color2 {
  color: #1c1ca8; }

.color_color3 {
  color: #8b1d1d; }

/*implementacion extend*/
.btn-ak, .btn-ck, .btn-tk {
  border: #0a58ca;
  background-color: #0a58ca;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.btn-ck {
  background-color: #157347; }

.btn-tk {
  background-color: #bb2d3b; }

/*implementacion mixin*/
.pruebaMixin {
  padding-top: 30px; }

.divSec {
  padding-top: 30px; }
