/* ESTILOS GENERALES */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    padding: 0;
}


/* Declaracion de template area */


/* header {
    grid-area: header;
}

.img-back {
    grid-area: img-back;
}

main {
    grid-area: contenido;
}

aside:first-of-type {
    grid-area: izquierda;
}

.wid {
    grid-area: wid;
}

footer {
    grid-area: footer;
} */


/* Finaliza declaracion de template area */

@media (min-width: 300px) {
    .contenedor {
        /* display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr; */
        /* grid-template-areas: "header" "section" "contenido" "izquierda" "wid" "footer"; */
        text-align: justify;
    }
    .text-principal {
        margin-left: 10px;
        margin-right: 10px;
    }
    /* ESTILOS FOOTER */
    .sec-foo {
        background-color: rgb(89, 92, 91);
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        gap: 30px;
    }
    .titleCfOO {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .con-sec-foo {
        text-align: center;
    }
    .uno {
        padding-block: 20px;
    }
    .inline {
        margin: 5px 0 7px;
        display: inline-block;
    }
    .con-sec-foo3 {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media(min-width: 641px) {
    /* grid AREA */
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header";
        text-align: justify;
        grid-gap: 5px;
    }
    section div.img-back {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    /* estilos header */
    .logo-nav {
        display: flex;
        justify-content: space-between;
        height: 70px;
        background-color: #a6afb8;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        align-items: center;
        position: fixed;
    }
    img.img-resp {
        width: 150px;
        height: auto;
    }
    nav ul li {
        display: inline-block;
        list-style: none;
    }
    nav ul li a {
        color: rgb(19, 15, 15);
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }
    li.nav-item {
        margin-right: 10px;
        margin-left: 10px;
    }
    li.nav-item2 {
        margin-right: 40px;
        margin-left: 40px;
    }
    /* estilos imagen */
    .img-back {
        background-image: url('/imagenes/img-fon.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700PX;
    }
    /* estilos footer */
    .sec-foo {
        display: flex;
        justify-content: space-between;
        background-color: rgb(89, 92, 91);
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        color: #ffffff;
        padding: 30px 30px 30px 30px;
        gap: 30px;
    }
    .titleCfOO {
        margin-bottom: 10px;
    }
    .redes {
        margin: 5px 0 7px;
        display: inline-block;
    }
    .inline {
        display: inline-block;
    }
    .fa {
        margin-right: 5px;
    }
}