main {
    color: #032550;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #ffff;
    section.secciones {
        h1 {
            margin-top: 5px;
            margin-bottom: 30px;
            font-size: 60px;
        }
        p {
            margin-top: 5px;
            margin-bottom: 30px;
            font-size: 20px;
        }
        img.style-img {
            width: 100%;
            height: auto;
        }
        .marginDiv {
            margin: 40px 0 40px 0px;
        }
        .marginDiv2 {
            margin: 20px 0 20px 0px;
        }
        .secJustM {
            text-align: $A-Justify;
            margin: 5px;
        }
        .tam-text {
            font-size: 50px;
            padding: auto;
        }
        .paddTitle {
            padding-left: 40px;
            padding-right: 40px;
        }
        .paddingBotContacto {
            padding-top: 70px;
        }
        .sec-img-title {
            text-align: $A-Center;
        }
        .fondoTitle {
            background-color: rgb(226, 239, 245);
        }
        .headerReg {
            color: rgb(20, 24, 233);
        }
        .paddingBot {
            padding-top: 30px;
        }
        .paddingBot2 {
            padding-bottom: 30px;
        }
        .detaCurso {
            color: rgb(129, 123, 123) !important;
        }
        .sec-img {
            text-align: center;
        }
        hr.divSec {
            padding-right: 50px;
            padding-left: 50px;
        }
        /*estilos para seccion de servicio(area de servicios)*/
        .secPrincipal {
            margin-top: 50px;
            .sec-prop {
                display: flex;
                display: inline-block;
                text-align: center;
            }
            .prop1 {
                background-color: #9194e1;
            }
            .prop2 {
                background-color: #8aaede;
            }
        }
        /* tabla pantalla servicio */
        div.sec-table {
            .head-table {
                background-color: rgb(90, 5, 5);
                animation-name: example;
                animation-duration: 4s;
                animation-delay: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                color: #ffff;
                @keyframes example {
                    0% {
                        background-color: rgb(90, 5, 5);
                    }
                    25% {
                        background-color: rgb(87, 87, 7);
                    }
                    50% {
                        background-color: rgb(15, 15, 92);
                    }
                    100% {
                        background-color: rgb(6, 70, 6);
                    }
                }
            }
        }
        /* estilos para contenido de video en pantalla quienes somos*/
        div.secVideo {
            text-align: center;
            width: 800%;
            height: 600px;
            position: relative;
            padding: 5px;
        }
        .responsive-iframe {
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }
    .servicios-desc {
        background-color: #ffff;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 40px;
        .clr {
            color: #091f02;
        }
        .grid-service {
            hr {
                align-items: center;
                height: 10px;
                width: 100%;
                background-color: black;
            }
            .text-def {
                font-size: 20px;
            }
            .sub-desc {
                font-size: 15px;
            }
            .service {
                margin-bottom: 40px;
                .etapa-ser {
                    .btn-center {
                        text-align: center;
                        align-items: center;
                    }
                    .sec-proceso {
                        text-align: center;
                        .img-pro {
                            width: 120px;
                            height: 140px;
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
    .secService {
        background-color: $color-secService;
        .sec-img {
            text-align: $A-Center;
        }
        .grid-seccion {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;
            grid-template-areas: "sec-producto1 sec-producto2 sec-producto3"
        }
        @media(max-width: 640px) {
            .grid-seccion {
                grid-template-columns: 1fr;
                display: block;
                grid-gap: 40px;
                grid-template-areas: "sec-producto1" "sec-producto2" "sec-producto3"
            }
        }
        .img-style {
            max-width: 60%;
            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                animation-delay: 3s;
            }
        }
        .paddingBot {
            padding-top: 30px;
        }
        .marBtn {
            margin-bottom: 40px;
            border-color: 3px solid #03041b;
            width: 33.33%;
            &:hover {
                background-color: $color-btn;
            }
        }
    }
}