/*tipografia de texto*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
    .bg-dark a.nav-link {
        color: #ffff !important
    }
    nav {
        img.navbar-brand {
            margin-left: 20px;
            width: 170px;
            height: auto;
            padding: 0 10px 0 0;
        }
        img.img-logo {
            width: 170px;
            height: auto;
            padding: 0 10px 0 0;
        }
        ul {
            li.nav-item {
                margin-right: 10px;
                margin-left: 10px;
            }
            li.nav-item2 {
                margin-right: 40px;
                margin-left: 40px;
            }
            li a.nav-link:hover {
                text-shadow: 2px 2px 5px rgba(143, 238, 151, 0.5);
                transform: scale(1.1);
                transition: all 1, ease-in;
            }
        }
    }
}

main {
    color: #032550;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #ffff;
    section.secciones {
        h1 {
            margin-top: 5px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 60px;
        }
        h2 {
            font-size: 190px;
        }
        p {
            margin-top: 5px;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: bold;
        }
        img.style-img {
            width: 100%;
            height: auto;
        }
        .marginDiv {
            margin: 40px 0 40px 0px;
        }
        .secJustM {
            text-align: justify;
            margin: 5px;
        }
        .tam-text {
            font-size: 50px;
            padding: auto;
        }
        .secService {
            background-color: rgb(221, 221, 230);
            .sec-img {
                text-align: center;
            }
            .grid-seccion {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 40px;
                grid-template-areas: "sec-producto1 sec-producto2 sec-producto3"
            }
            @media(max-width: 640px) {
                .grid-seccion {
                    grid-template-columns: 1fr;
                    display: block;
                    grid-gap: 40px;
                    grid-template-areas: "sec-producto1" "sec-producto2" "sec-producto3"
                }
            }
            .img-style {
                max-width: 60%;
            }
            .img-style:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                animation-delay: 3s;
            }
            .paddingBot {
                padding-top: 30px;
            }
            .marBtn {
                margin-bottom: 40px;
                border-color: 3px solid #03041b;
                width: 33.33%;
            }
            .margin-title {
                padding-top: 20px;
            }
        }
    }
}

footer {
    .backFoo {
        background-color: rgb(89, 92, 91);
        padding: 20px;
    }
    .inlineSec2 {
        display: inline-block;
        text-align: center;
    }
    .colorText {
        color: #ffff;
    }
    .icon-soc {
        margin: 10px 10px;
        transition: all 300ms ease-in-out;
        text-align: center;
    }
    .icon-soc:hover {
        transform: scale(2) translateY(-2px);
        color: #abccdb;
    }
}